<section class="col-sm-9 mx-auto border border-primary p-4">
    <h3>Contacts List</h3>

    <div class="row border-bottom border-danger p-2 text-center fw-bold">
        <div class="col-1">Contact#</div>
        <div class="col">Name</div>
        <div class="col-1">Mobile</div>
        <div class="col-2">Mail Id</div>
        <div class="col-2">Actions</div>
    </div>

    <div *ngIf="!contacts && !errMsg" class="alert alert-info p-2 fw-bold m-2">
        Please wait while loading data .... !
    </div>

    <div *ngIf="errMsg" class="alert alert-danger p-2 fw-bold m-2">
        {{errMsg}}
    </div>

    <div *ngIf="contacts && contacts.length===0" class="alert alert-info p-2 fw-bold m-2">
        No records to display
    </div>

    <ng-container *ngIf="contacts && contacts.length>0">
        <app-contacts-list-item *ngFor="let c of contacts" [contact]="c" (delBtnClicked)="delContact($event)">
        </app-contacts-list-item>
    </ng-container>
</section>