.app{
    margin:0px;
    padding:7px;
    background-color: #f00fff;
}

section{
    padding:10px;
}

.centered{
    display: block;
    margin: auto;
}

.bordered{
    border:2px solid black;
    border-radius: 15px;
}