<div class="row border-bottom border-secondary p-2 ">
    <div class="col-1">{{contact.id}}</div>
    <div class="col">{{contact.fullName}}</div>
    <div class="col-1">{{contact.mobile}}</div>
    <div class="col-2">{{contact.mailId}}</div>
    <div class="col-1">{{contact.age}}</div>
    <div class="col-2">
        <button class="btn btn-sm btn-secondary me-1" (click)="raiseEditBtnClicked()">EDIT</button>
        <button class="btn btn-sm btn-danger" (click)="raiseDelBtnClicked()">DELETE</button>
    </div>
</div>
